@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

body {
    background: url('../images/bg-1.svg') no-repeat top center , url('../images/bg-2.svg') no-repeat center center, url('../images/bg-3.svg') no-repeat bottom center;
    background-size: 100em, 100em, 100em;
}

h1 {
    font-size: 3.5625rem;
    font-weight: 900;
    line-height: 4.875rem;
    color: white;
}

header {
    nav {
        margin-top: 2.625rem;
        a.nav-link {
            color: white !important;
            font-size: 1.5rem;
            font-weight: 600;
            &.active {
                font-weight: 800;
            }
            &:hover {
                color: lighten($color: #FF9B52, $amount: 20%) !important;
            }
        }
        .btn {
            font-size: 1.5rem;
            color: white;
            font-weight: 600;
            &:hover {
                color: lighten($color: #FF9B52, $amount: 20%) !important;
            }
            &.btn-outline-primary {
                border: 1px solid white;
                padding-left: 4rem;
                padding-right: 4rem;
                &:hover {
                    background: white;
                    color: lighten($color: #FF9B52, $amount: 20%) !important;
                }
                &:focus {
                    box-shadow: 0 0 2px 2px white !important;
                }
            }
            &:focus, &:active {
                box-shadow: none;
            }
            
        }
    }

    .header {
        margin-top: 4.25rem;
        .btn-custom {
            margin-top: 2.25rem;
            color: #428EFE;
            font-size: 1.25rem;
            font-weight: 800;
            background-color: white;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: 5rem;
            box-shadow: 0px 9px 31px rgba(255, 255, 255, 0.58);
            span {
                margin-left: 3.25rem;
                padding: 1.25rem;
                background-color: #428EFE;
                box-shadow: 0px 2px 23px rgba(66, 142, 254, 0.51);
            }
            &:hover {
                color: white;
                background-color: #428EFE;
                box-shadow: 0px 9px 31px rgba(66, 142, 254, 0.58);
                span {
                    background-color: white;
                    box-shadow: 0px 2px 23px rgba(255, 255, 255, 0.58);
                    img {
                        filter: invert(44%) sepia(84%) saturate(468%) hue-rotate(178deg) brightness(102%) contrast(106%);
                    }
                }
            }
        }
    }
}

section {
    &.daftar {
        margin-top: 2.75rem;
        .section-title {
            max-width: 31rem;
            h2 {
                font-size: 1.75rem;
                font-weight: 700;
                line-height: 2.75rem;
                span {
                    font-size: 2rem;
                    color: #FF9B52;
                }
            }
            p {
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;
                text-align: justify;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 2rem;
            }
            .btn-custom {
                margin-top: 2.25rem;
                color: #428EFE;
                font-size: 1.25rem;
                font-weight: 800;
                background-color: white;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                padding-left: 5rem;
                box-shadow: 0px 9px 31px rgba(215, 215, 215, 0.58);
                span {
                    margin-left: 3.25rem;
                    padding: 1.25rem;
                    background-color: #428EFE;
                    box-shadow: 0px 2px 23px rgba(66, 142, 254, 0.51);
                }
                &:hover {
                    color: white;
                    background-color: #428EFE;
                    box-shadow: 0px 9px 31px rgba(66, 142, 254, 0.58);
                    span {
                        background-color: white;
                        box-shadow: 0px 2px 23px rgba(255, 255, 255, 0.58);
                        img {
                            filter: invert(44%) sepia(84%) saturate(468%) hue-rotate(178deg) brightness(102%) contrast(106%);
                        }
                    }
                }
            }
        }
        .section-featured {
            .card {
                border: none;
                max-width: 14.75rem;
                height: 15.125rem;
                border-radius: 1.25rem;
                .card-body {
                    border-radius: 1.25rem;
                    box-shadow: 0px 4px 8px rgba(175, 175, 175, 0.25);
                    p {
                        margin-top: 1.625rem;
                        color: #A1AEBD;
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 2rem;
                    }
                    &.card-1 {
                        border-radius: 1.25rem 1.25rem 0 1.25rem;
                    }
                    &.card-2 {
                        border-radius: 1.25rem 1.25rem 1.25rem 0;
                    }
                    &.card-3 {
                        border-radius: 1.25rem 0 1.25rem 1.25rem;
                    }
                    &.card-4 {
                        border-radius: 0 1.25rem 1.25rem 1.25rem;
                    }
                }
            }
        }
    }

    &.market {
        margin-top: 8rem;
        .section-title {
            h2 {
                font-size: 1.75rem;
                color: white;
                span {
                    color: #FF9B52 !important;
                }
            }
            p {
                margin-top: 2.1875rem;
                color: white;
                line-height: 1.25rem;
            }
        }
        .btn-market {
            background-color: white;
            padding: .8125rem 4.0625rem ;
        }
        img {
            max-width: 100%;
            top: -25px;
        }
        .card {
            margin-top: 14.375rem;
            border-radius: .5rem;
            border: none;
            .card-body {
                height: 13.25rem;
                box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.25);
                border-radius: .5rem;
                text-align: center;
                p {
                    color: #456580;
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 1.625rem;
                    span {
                        font-size: 1.5rem;
                        font-weight: 700;
                        line-height: 2.375rem;
                    }
                }
            }
        }
    }
    &.doc {
        margin-top: 15.625rem;
    }
    &.pertanyaan {
        margin-top: 9.625rem;
        .card {
            border: none;
            background-color: transparent;
            .card-body {
                padding: 3.75rem 2.25rem;
                background-color: #6D62CA;
                border-radius: 30px 30px 0px 0px;
                box-shadow: 0px 9px 21px rgba(117, 95, 201, 0.48);
                .section-title {
                    max-width: 21.5rem;
                    h2 {
                        color: white;
                        font-weight: 500;
                        font-size: 2.25rem;
                        line-height: 2.75rem;
                        span {
                            font-weight: 700;
                            color: #FF9B52;
                        }
                    }
                    p {
                        margin-top: 1.625rem;
                        color: white;
                    }
                }
                .line-dv {
                    border-left: 1px solid white;
                    padding-left: 60px;
                }
                .btn-custom {
                    color: #FF9B52;
                    font-size: 1.25rem;
                    font-weight: 800;
                    background-color: white;
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                    padding-left: 5rem;
                    box-shadow: 0px 9px 31px rgba(215, 215, 215, 0.58);
                    span {
                        margin-left: 3.25rem;
                        padding: 1.25rem;
                        background-color: #FF9B52;
                        box-shadow: 0px 16px 28px rgba(255, 147, 72, 0.2);
                    }
                    &:hover {
                        color: white;
                        background-color: #FF9B52;
                        box-shadow: 0px 16px 28px rgba(255, 147, 72, 0.2);
                        span {
                            background-color: white;
                            box-shadow: 0px 2px 23px rgba(255, 255, 255, 0.58);
                            img {
                                filter: invert(68%) sepia(73%) saturate(737%) hue-rotate(322deg) brightness(200%) contrast(101%);
                            }
                        }
                    }
                }
            }
        }
    }
}